body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #f3f3f3;

    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.chat-container {
    width: 100%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#messages {
    height: 500px;
    overflow-y: auto;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    background: #f9f9f9;
}
#messages img {
    width: 30%;
    height: auto;
}
/* books box */
.book-link {
    text-decoration: none;
    color: inherit;
}

.card-img-top.book-image {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#messages div {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

#input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

#imageInput {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
.page-body {
    background-color: white;
    padding: 40px;

}
/* books box */
.book-link {
    text-decoration: none;
    color: inherit;
}

.card-img-top.book-image {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* edit */
 h2 {
    font-size: 2rem;

    background-color: black;
    color: bisque;
    padding: 7px 7px 7px 15px;
}
 .link-full-width {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
 #bookAuthor  ,  #bookCategory,#bookScore {


 font-weight: bold;
}
