
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container roboto-bold ">
    <a class="navbar-brand" href="home.html"><i class="fas fa-book-reader"></i> Book Club</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="home.html"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="booklist.html"><i class="fas fa-book"></i> Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="addbook.html"><i class="fas fa-plus-circle"></i> Add Book</a>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="chat.html"><i class="fas fa-comments"></i> Chat</a>-->
<!--            </li>-->
            <li class="nav-item" id="loginMenu">
                <a class="nav-link" href="login.html"><i class="fas fa-sign-in-alt"></i> Login</a>
            </li>
            <li class="nav-item" id="registerMenu">
                <a class="nav-link" href="register.html"><i class="fas fa-user-plus"></i> Register</a>
            </li>
            <li class="nav-item d-none" id="logoutMenu">
                <a class="nav-link" href="logout.html"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
        </ul>
    </div>
    </div>
</nav>
